Leia 6 valores. Em seguida, mostre quantos destes valores digitados foram positivos. Na próxima linha, deve-se mostrar a média de todos os valores positivos digitados, com um dígito após o ponto decimal.
Entrada

A entrada contém 6 números que podem ser valores inteiros ou de ponto flutuante. Pelo menos um destes número será positivo.
Saída

O primeiro valor de saída é a quantidade de valores positivos. A próxima linha deve mostrar a média dos valores positivos digitados.

#include <stdio.h>

int main() {
 float  num,total,media;
  int cont,totalnum;
     totalnum = 0;
     total = 0;
     media = 0;
  
        for (cont = 1; cont <= 6; cont++) {
          scanf("%f", &num);
        if (num > 0) {
          totalnum += 1;
          total += num;
       }
      }
      media = total / totalnum;

     printf("%d valores positivos\n", totalnum);
     printf("%.1f\n",media);
    return 0;
}
